* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #a2d7ff;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  color: black;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #474747;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}
li.sidebar {
  padding: 5px;
  border-bottom: 1px solid white;
}
a.sidebar {
  text-decoration: none;
  color: white;
}

/* Style the content */
.main-content {
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

#social-accounts-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#social-accounts-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

#social-accounts-table tr:nth-child(even){background-color: #f2f2f2;}

#social-accounts-table tr:hover {background-color: #ddd;}

